 $bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------


// Colors

$title-color: #000000;
$desc-color: #696969;
$theme-color: #FF00FF;
$primary-color: linear-gradient(to right, #9982ff, #d17fff);
$primary-hover-color : linear-gradient(to left, #d17fff, #9982ff);
$border-color: #ecf0f3;
$white-color: #fff;
$ash-color: #fffbf8;
$bg-white: #fefefe;
$btn-color: linear-gradient(to right, #d17fff, #9982ff, #9982ff, #9982ff, #d17fff);
$btn-hover-color: linear-gradient(to left, #d17fff, #9982ff, #d17fff, #9982ff, #9982ff);

// social-media color
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #007bb5;
$skype: #2fb7df;
$youtube: #cd201f;
$google: #dd4b39;
$camera: #e4405f;
$instagram: #e4405f;
$tumblr: #34465d;
$behance: #1769ff;
$star: #e9ba17;
$green: #0be881;
$green-h: #0fbcf9;
$red: #f53b57;
$yellow: #dec32b;
$nell: #212fb4;
$navy: #d8e0f3;
$plaseholder: #a0a6bc;
$pinterest : #bd081c;
$basketball : #e94c89;
$globe : #ff5e9c;
$vimeo : #3b5998 ;
//== Typography

// font-family
$roboto:  'Roboto', sans-serif;

// font-size
$fs-base:   16px !default;
$fs-h1:		60px;
$fs-h2: 	36px;	
$fs-h3: 	30px;		
$fs-h4: 	24px;		
$fs-h5: 	20px;		
$fs-h6: 	16px;		

// heading line height
$lh-h1:		72px;
$lh-h2:		48px;
$lh-h3:		48px;
$lh-h4:		32px;
$lh-h5:		24px;
$lh-h6:		30px;

// Description line height
$lh-p:		24px;

//  transition
$transition: all 0.3s ease;