.accordion {
    &__item {
        @extend %of-hidden;
        @include add-prefix(border-radius, 4px);
        background-color: $theme-color;
        color: $white-color;

    }

    &__button {
        @extend %w-100;
        @extend %text-left;
        @include font-size(18px);
        @include add-prefix(border, none);
        background-color: rgba($white-color, $alpha: .30);
        color: $white-color;
        font-family: $title-font;
        font-weight: bold;
        text-transform: uppercase;
        padding: 1rem 1.5rem;

        span {
            @extend %mr-10;
        }

        &.collapsed {
            background-color: $primary-color;
        }
    }

    &__body {
        padding: 1.5rem;
    }
}